*{
font-family: 'Raleway', sans-serif;
list-style: none;
}

h* {
font-family: 'Raleway', sans-serif;
}
.splash nav {
  width: 100%;
  overflow: auto;
}
.splash {
text-align: center
}

.splash img {
  background-color: #555;
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.splash a {
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 15%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.splash a:hover {
  background-color: #999;
}

.devicon {
  max-width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.developer img {
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.developer {
text-align: center;
}


.toolIcon {
    max-height: 35%;
    width: 100px;

}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 15%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.navbar a:hover {
  background-color: #000;
}

.responsive {
  width: 100%;
  height: auto;
}

.footer-logo{
    width: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
  background-color: #555;
  border-radius: 10px;
  height: 30vw;
  color: #9FCDAF;
  text-align: center;
  }

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }


}