<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<style>
    div.developer{
        width:30%;
    }

</style>
<body>
<div th:insert="fragments/nav-header :: header"></div>
<header><h1>About Us</h1></header>


<div class="navbar" th:insert="fragments/nav-header :: menu"></div>




<main>
    <div class="developer">
        <img src="/../images/joshuamccluskey.jpg" alt="Joshua's Image">
        <h2>Joshua McCluskey</h2>
        <p> Joshua McCluskey is a software engineer and Air Force veteran based out of Seattle.
            He discovered a deep interest in coding while working at National Oceanic and
            Atmospheric Administration in an effort to automate processes for remote work during COVID-19
        </p>
    </div>

    <div class="developer">
        <img src="/../images/portfolioImage.png" alt="Shane's Image">
        <h2>Shane Roach</h2>
        <p>I come from a mixed background of ecological engineering, art/design, and outdoor adventure leadership;
            which have ultimately shaped how I view the world. Over the past couple years, since I graduated from
            University.
            I have been studying art and design specifically aimed towards the entertainment industry, while also
            working at a climbing gym as a route-setter.
            Both of these roles have helped me develop my ability to create engaging, immersive, social experiences for
            people. I aim to apply these past experiences towards my career in tech.
        </p>
    </div>

    <div class="developer">
        <img src="/../images/Picture-02.jpg" alt="Kevin's Image">
        <h2>Kevin LaMarca</h2>
        <p>Hello, my name is Kevin LaMarca and I am a software engineer.
            I graduated from Baruch College with a degree in corporate communication, an amalgam of marketing, public
            relations and workplace communication.
            I worked briefly as a English foreign language teacher and then pivoted into software engineering as I
            enjoyed the mentorship of teaching,
            but longed to continue learning as a student myself. What I enjoy most in Software Engineering is the
            process of continual learning and collaborating to build cool things.
            In addition to English, I am also fluent in Italian and speak French and Spanish conversationally, allowing
            me to work well in international environments.
        </p>
    </div>

    <div class="developer">
        <img src="/../images/Jallow.JPG" alt="Jallow's Image">
        <h2>Hambalieu Jallow</h2>
        <p> My name is Hambalieu Jallow.
            I am Originally from Gambia but I have been Living in Seattle for past 6 years.
            I am Software Engineer that is passionate about creating fully functional web applications.
        </p>
    </div>
</main>

<div class="footer" th:insert="fragments/nav-header :: footer"></div>
</body>
</html>