<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>">

</head>
<body>
<h1>Log in</h1>

<form action="/login" method="post">

    <label> Username
        <input type="text" name="username">
    </label>
    <label> Password
        <input type="password" name="password">
    </label>
    <input type="submit">
</form>

<div class="button-group">
    <div class="buttons">
        <a href="/signup" class="disabled-link"> Sign Up </a>
    </div>
    <div class="buttons">
        <a href="/" class="disabled-link">Home</a>
    </div>

</div>


</body>
</html>