<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

<body>
<div th:insert="fragments/nav-header :: header"></div>
<h1>Profile Info</h1>



<div class="navbar" th:insert="fragments/nav-header :: menu"></div>



<h2 th:text="${'Username: ' + username}"></h2>
<h2 th:text="${'Zip Code: ' + zipcode}"></h2>

<h2 th:text="${'Tools Listed by ' + username} "></h2>


<li th:each="tool : ${listOfTools}">
    <div class="tool">
        <br><span th:text="${'Tool: ' + tool.name}"></span>
        <br><img th:src="${tool.image}" class="toolIcon">
    </div>

</li>
<h2 th:text="${'Tools Borrowed by ' + username} "></h2>

<form action="/return-tool" th:method="put">
    <div th:each="tool : ${listOfTools}" class="tool">
        <span>
            <label th:text="${tool.name}" th:for="${tool.id}">
            </label>
            <input type="hidden" th:value="${tool.id}" name="toolId">
            <input th:if="${tool.openReturnRequest == true}" type="submit" value="Verify tool was returned">
        </span>
    </div>
</form>
<h2>Remove a tool listing</h2>
<!--Work in progress-->
<form>
    <div th:each="tool : ${listOfTools}">
        <label>
        </label>
    </div>
</form>


<h2 th:text="${'Tools Borrowed by ' + username} "></h2>
<form action="/return-request" th:method="post">
    <div th:each="tool : ${listOfBorrowedTools}" class="tool">
            <span>
                <label th:text="${tool.name}" th:for="${tool.id}">
                </label>
                <br><img th:src="${tool.image}" class="toolIcon">
                <input type="hidden" th:value="${tool.id}" name="toolId">
                <input th:if="${tool.openReturnRequest == false}" type="submit" value="Return this tool">
                <p th:if="${tool.openReturnRequest == true}">Return is pending owner verification</p>
            </span>
    </div>
</form>

<div class="footer" th:insert="fragments/nav-header :: footer"></div>
</body>
</html>