<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

<body>
<div th:insert="fragments/nav-header :: header"></div>
<h1>Profile Info</h1>



<div class="navbar" th:insert="fragments/nav-header :: menu"></div>

<div class="profile-section">
    <div class="profile-info">
        <h2 th:text="${'Username: ' + username}"></h2>
        <h2 th:text="${'City: ' + currentUser.getResults().getCity()}"></h2>
        <h2 th:text="${'State: ' + currentUser.getResults().getState()}"></h2>
        <h2 th:text="${'Zip Code: ' + zipcode}"></h2>
    </div>
</div>

<div class="profile-section">
    <div class="profile-tool-listed">
        <h2 th:text="${'Tools Listed by ' + username} " style="font-weight: 800;"></h2><br>
        <span th:each="tool : ${listOfTools}">
        <div class="tool">

<h2 th:text="'Username: ' + ${username}"></h2>
<h2 th:text="'Zip Code: ' + ${zipcode}"></h2>

<h2 th:text="'Tools Listed by ' + ${username}"></h2><br>
<div class="tool">
    <span th:each="tool : ${listOfTools}">
        <form action="/return-tool" th:method="patch">


            <h2 th:text="'Tool: ' + ${tool.name}" th:for="${tool.id}" style="padding:1vw" ></h2>
            <br><img th:src="${tool.image}" class="toolIcon" style="display:block;margin-left:auto;margin-right:auto">
            <input type="hidden" th:value="${tool.id}" name="toolId">
            <input th:if="${tool.openReturnRequest == true}" type="submit" value="Verify tool was returned">
        </form>
            <div style="padding:1vw;margin:1vw;background-color: #599A70;color: white;border-radius: 5px;">
                <form action="/delete-tool" th:method="delete">
                    <input type="hidden" th:value="${tool.id}" name="toolId">
                    <input type="submit" value="Delete posting">
                </form>
            </div>
        </div>
    </span>
    </div>
</div>

<!--<h2>Remove a tool listing</h2>-->
<!--<form>-->
<!--    <div th:each="tool : ${listOfTools}">-->
<!--        <label>-->
<!--        </label>-->
<!--    </div>-->
<!--</form>-->


<div class="profile-section">
<div class="profile-tool-borrowed">
<h2 th:text="${'Tools Borrowed by ' + username} "></h2>
            <span  th:each="tool : ${listOfBorrowedTools}" >
                <form action="/return-request" th:method="post">
                    <label th:text="${tool.name}" th:for="${tool.id}">
                    </label>
                    <br><img th:src="${tool.image}" class="toolIcon">
                    <input type="hidden" th:value="${tool.id}" name="toolId">
                    <input th:if="${tool.openReturnRequest == false}" type="submit" value="Return this tool">
                    <p th:if="${tool.openReturnRequest == true}">Return is pending owner verification</p>
                </form>
              </span>
              </div>
               </div>



<div class="footer" th:insert="fragments/nav-header :: footer"></div>
</body>
</html>