<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>">

</head>
<body>
<h1>Sign Up</h1>
<form action="/signup" method="post">
    <h2 th:text="${errorMessage}"></h2>
    <br>
    <label> Username
        <input type="text" name="username">
    </label>
    <label> Password
        <input type="password" name="password">
    </label>
    <label> Email
        <input type="text" name="email">
    </label>
    <label> Zip Code
        <input type="text" name="zipcode">
    </label>
    <label> Check the box to confirm you are over 18 years of age
        <input type="checkbox" required>
    </label>
    <input type="submit">
</form>

<div class="button-group">
    <div class="buttons">
        <a href="/" class="disabled-link">Home</a>
    </div>

</div>
</body>
</html>