<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4297430c75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>">

</head>
<body>


<h1>Welcome to Tool Share!</h1>

<div th:if="${username}">
    <div class="navbar">
        <a href="/home">Home</a>

        <a href="/createlisting">Create a Tool Listing</a>

        <a href="/tool-listings">Tool Listings</a>

        <a href="/aboutus">About Us</a>

        <a href="/profile">Profile</a>

        <a href="/logout">Log Out</a>
    </div>
</div>

<div th:unless="${username}">
    <div class="navbar">
        <a href="/home">Home</a>

        <a href="/login"> Login </a>

        <a href="/signup"> Sign Up </a>

        <a href="/aboutus">About Us</a>

    </div>
</div>


<img src="/../images/homeBanner.png" alt="Tool Share" class="responsive">


<footer>
    <br><img src="/../images/ToolShareLogo.jpg" alt="Tool Share Logo" class="footer-logo">
    <p>©Copyright 2022 - Tool Share</p>
</footer>

</body>
</html>