<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tool Listings</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<body>
<h1>Tool Listings:</h1>

<a href="http://localhost:8080/createlisting">Create a Tool Listing</a>

<a href="http://localhost:8080/tool-listings">Tool Listings</a>

<a href="http://localhost:8080/aboutus">About Us</a>

<a href="http://localhost:8080/logout">Log Out</a>

<a href="http://localhost:8080/profile">Profile</a>

<div>


    <form action="/borrow-tool" th:method="post">
        <div th:each="tool : ${listOfTools}">
            <span>
                <label th:text="${tool.name}" th:for="${tool.id}">
                </label>
                <input type="hidden" th:value="${tool.id}" name="toolId">
                <input type="submit" value="Borrow this tool">
            </span>
        </div>
    </form>
</div>
<div>
    <form action="/filter-tools" th:method="get">
        <select name="tools" id="tools">
            <option value="drill">Drill</option>
            <option value="crowbar">Crowbar</option>
            <option value="sledgeHammer">Sledge Hammer</option>
            <option value="circularSaw">Circular Saw</option>
        </select>
        <input type="submit" value="Filter tools">
    </form>
</div>




</body>
</html>