<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Tool Listing</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>">

</head>
<body>
<div th:insert="fragments/nav-header :: header"></div>
<h1>Create a Tool Listing:</h1>
<div class="navbar" th:insert="fragments/nav-header :: menu"></div>


<div class="profile-section">
<h2>Have some unused tools lying around? Put them to good use in your community.</h2>
<form action="/add-listing" th:method="post">
    <label> Tool Type
        <select name="tools">
            <option value="drill">Drill</option>
            <option value="crowbar">Crowbar</option>
            <option value="sledgehammer">Sledge Hammer</option>
            <option value="circular saw">Circular Saw</option>
        </select>
    </label>

    <input type="submit">

</form>
</div>
<div class="footer" th:insert="fragments/nav-header :: footer"></div>
</body>
</html>