<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tool Listings</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>">

<body>

<div th:insert="fragments/nav-header :: header"></div>
<h1>Tool Listings</h1>

<div class="navbar" th:insert="fragments/nav-header :: menu"></div>

    <div class="profile-section">
        <h2>Filter Search</h2>
    <form action="/filter-tools" th:method="get">
        <select name="tools" id="tools">
            <option value="all">All</option>
            <option value="drill">Drill</option>
            <option value="crowbar">Crowbar</option>
            <option value="sledgeHammer">Sledge Hammer</option>
            <option value="circularSaw">Circular Saw</option>
        </select>
        <input type="submit" value="Filter tools by Type">
    </form>



<div>
    <form action="/filter-state" th:method="get">
        <label> State Search
            <input type="text" name="state">
        </label>
        <input type="submit" value="Filter tools by State">
    </form>
</div>

<div>
    <form action="/filter-city" th:method="get">
        <label> City Search
            <input type="text" name="city">
        </label>
        <input type="submit" value="Filter tools by City">
    </form>
</div>

<div>
    <form action="/filter-distance-miles" th:method="get">
        <input type="submit" value="Filter by distance miles">
    </form>
</div>
</div>
<div class="profile-section">

        <div th:each="tool : ${listOfTools}">
            <span>
                <div class="tool">
                    <h2 th:text="'Tool: '+ ${tool.name}" th:for="${tool.id}" style="padding:1vw"></h2>
                <p th:text="${'City: ' + tool.getToolListedByUser().getResults().getCity()}" style="padding:0.5vw"></p>
                <p th:text="${'State: ' + tool.getToolListedByUser().getResults().getState()}"style="padding:0.5vw"></p>
                <p th:text="${'Name: ' + tool.getToolListedByUser().getUsername}"style="padding:0.5vw"></p>
                <br><img th:src="${tool.image}" class="toolIcon" style="display:block;margin-left:auto;margin-right:auto">
                    <div style="padding:1vw;margin:1vw;background-color: #599A70;color: white;border-radius: 5px;">
                        <form action="/borrow-tool" th:method="post">
                            <input type="hidden" th:value="${tool.id}" name="toolId">
                            <input type="submit" value="Borrow this tool">
                        </form>
                    </div>
                </div>
            </span>
        </div>

</div>

<div class="footer" th:insert="fragments/nav-header :: footer"></div>
</body>
</html>